Programas/EscBaileWebDerby/web/WEB-INF/wsit-wsEscBaile.NewWebService.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NewWebService" targetNamespace="http://wsEscBaile/" xmlns:tns="http://wsEscBaile/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="altaAlumno"/>
    <message name="altaAlumnoResponse"/>
    <message name="modificaAlumno"/>
    <message name="modificaAlumnoResponse"/>
    <message name="borraAlumno"/>
    <message name="borraAlumnoResponse"/>
    <portType name="NewWebService">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="altaAlumno">
            <input message="tns:altaAlumno"/>
            <output message="tns:altaAlumnoResponse"/>
        </operation>
        <operation name="modificaAlumno">
            <input message="tns:modificaAlumno"/>
            <output message="tns:modificaAlumnoResponse"/>
        </operation>
        <operation name="borraAlumno">
            <input message="tns:borraAlumno"/>
            <output message="tns:borraAlumnoResponse"/>
        </operation>
    </portType>
    <binding name="NewWebServicePortBinding" type="tns:NewWebService">
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="altaAlumno">
            <input/>
            <output/>
        </operation>
        <operation name="modificaAlumno">
            <input/>
            <output/>
        </operation>
        <operation name="borraAlumno">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="NewWebService">
        <port name="NewWebServicePort" binding="tns:NewWebServicePortBinding"/>
    </service>
</definitions>
