Programas/tstRMI_WSEscBaile2/src/META-INF/wsdl/192.168.15.7_8080/EscBaileWeb/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsEscBaile/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsEscBaile/">

<xs:element name="altaAlumno" type="tns:altaAlumno"/>

<xs:element name="altaAlumnoResponse" type="tns:altaAlumnoResponse"/>

<xs:element name="borraAlumno" type="tns:borraAlumno"/>

<xs:element name="borraAlumnoResponse" type="tns:borraAlumnoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="modificaAlumno" type="tns:modificaAlumno"/>

<xs:element name="modificaAlumnoResponse" type="tns:modificaAlumnoResponse"/>

<xs:complexType name="borraAlumno">
<xs:sequence>
<xs:element name="cveAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="apPaternoAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="apMaternoAlumno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="borraAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAlumno">
<xs:sequence>
<xs:element name="cveAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="apPaternoAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="apMaternoAlumno" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaAlumno">
<xs:sequence>
<xs:element name="cveAlumnoV" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAlumnoV" type="xs:string" minOccurs="0"/>
<xs:element name="apPaternoAlumnoV" type="xs:string" minOccurs="0"/>
<xs:element name="apMaternoAlumnoV" type="xs:string" minOccurs="0"/>
<xs:element name="cveAlumnoN" type="xs:string" minOccurs="0"/>
<xs:element name="nombreAlumnoN" type="xs:string" minOccurs="0"/>
<xs:element name="apPaternoAlumnoN" type="xs:string" minOccurs="0"/>
<xs:element name="apMaternoAlumnoN" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificaAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>